<div class="row text-center position-absolute top-50 start-50 translate-middle text-center text-dark p-3">

  <div class="col bg-body-tertiary">
    <h2 *ngFor="let name of FixName()">{{ name | titlecase}}</h2>
    <img [src]="pokemon.img" width="475px">
  </div>
  <div class="display-6">
    <ul class="list-group">
      <li class="list-group-item">Nº {{pokemon.id}}</li>
      <li class="list-group-item">Altura: {{pokemon.height}}</li>
      <li class="list-group-item">Peso: {{pokemon.weight}}</li>
      <li class="list-group-item">Experiência Base: {{pokemon.base_experience}}</li>
    </ul>


    <div class="buttons">
      <button class="btn btn-outline-info text-dark mt-1" style="border-radius: 30px; margin-right: 8px;"
        (click)="backwardPokemon()">
        Anterior
      </button>
      <button class="btn btn-outline-danger text-dark mt-1" style="border-radius: 30px;" (click)="forwardPokemon()">
        Próximo
      </button>
      <br><br>
    </div>
  </div>
</div>
